@{
    ViewData["Title"] = "Home Page";
    @model PageData
}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<div class="row table-bordered"  style="width:100%">
    <div class="col-md-12">
        <h2>Web Crawler</h2>
        <form method="post" enctype="multipart/form-data">
            <table class="table-responsive col-md-12">
                <tr>
                    <td><label asp-for="WebUrl" class="lable-control"></label></td>
                    <td>
                        <input asp-for="WebUrl" class="form-control" />
                        <span asp-validation-for="WebUrl" class="text"></span>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td><button type="submit" class="btn btn-primary rounded-0">Fetch Details</button></td>
                </tr>
            </table>
            <hr />
        </form>
    </div>
</div>
<div class="row"></div>
    <div class="row">
        <div class="col-md-6 table-bordered">
            <h2>Images</h2>
            @if (Model != null && Model.ImageUrls != null)
            {

                <ul>
                    @foreach (var item in Model.ImageUrls)
                    {
                        <li><img src="@item" width="50%" /></li>
                    }
                </ul>

            }
        </div>
        <div class="col-md-6 table-bordered">
            <h2>Keywords</h2>
            @if (Model != null && Model.barData != null && Model.barData.Length > 0)
            {

                <canvas id="myChart" width="200" height="200"></canvas>
                <script>
                var ctx = document.getElementById('myChart').getContext('2d');
                var chart = new Chart(ctx, {
                    // The type of chart we want to create
                    type: 'bar',

                    // The data for our dataset
                    data: {
                        labels: @Html.Raw(Json.Serialize(Model.barLabel)),
                        datasets: [{
                            label: 'My First dataset',
                            backgroundColor: 'rgb(255, 99, 132)',
                            borderColor: 'rgb(255, 99, 132)',
                            data: @Html.Raw(Json.Serialize(Model.barData))
                        }]
                    },

                    // Configuration options go here
                    options: {}
                });
                </script>
            }

        </div>
    </div>
